html {
    font: 20px "Candara"; /*Candara, Cambria, Monospace, Roboto, Courier New, Verdana, Didot, Lucida Bright*/
}

#grad {
    background-image: linear-gradient(110deg, #092252, #5c6bb4, #092252);
    background-image: linear-gradient(70deg, #9c7417, #7d362d, #9c7417);
}

.tighten {
    max-width: 800px;
    margin: auto;
}

iframe {
    height: 315px;
    width: 100%
}

ul {
    list-style-type: square;
}

ul, ol {
    margin-left: 1.5em;
}

p {
    margin: .75em;
}

h1,h2,h3,h4,h5,h6 {
    padding-top: .5em;
    font-weight: bold;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.25em;
}
h5,h6 {
    font-size: 1em;
}

table {
    font-size: .8em;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background-color: rgb(215, 193, 163);
}

td,th {
    vertical-align: middle;
    padding: 10px;
}

.topBar p {
    font-size: .75em;
}

.topBar h1 {
    padding-top: .25em;
}

.topBar {
    overflow: hidden;
    display: flex;
    font-size: 1.25em;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


a.anchor {
    position: relative;
    top: -100px;
}

.infoBar {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #895b2a;
    color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .flex-container {
        padding: 0;
        margin: 10px;
        list-style: none;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap { 
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .infoBar {
        list-style-type: none;
        overflow: hidden;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .flex-container li {
        padding: 5px;
        width: wrap;
        margin: 5px;
        text-align: center;
    }
    
    .infoBar a {
        float: left;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 8px;
        border: 3px solid #ffffff;
        margin: 0px;
        transition-property: background-color, color;
        transition-duration: 750ms;
    }

    .infoBar a:hover {
        background-color: #ffffff;
        color: black;
    }

.spacing {
    height: 10%;
}

.mainContent {
    padding: 2rem;
    padding-top: 1rem;
}

.toggle {
    display: flex;
    margin: 4px;
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.toggle .toggleTop p {
    font-size: 1.1em;
}

.toggle .triangle {
    margin-top: .6em;
    margin-left: .25em;
    width: 0.6875em; 
    height: 2.5em; 
    display: block; 
    fill: inherit; 
    flex-shrink: 0; 
    backface-visibility: hidden; 
    transform: rotateZ(90deg); 
    opacity: 1;
    transition: transform 500ms ease-out 0s;
}

.toggle .toggleContainer {
    flex-grow: 1;
    margin: 4px;
    padding: 4px
}

.toggle img {
    margin-left: 8px;
}

.toggle .triangle, .toggle {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (prefers-color-scheme: light) {
    .mainContent, .topBar, img, iframe, table {
        color: #282b2c;
        background-color: #e4eff2;
    }

    table {
        color: #282b2c;
    }
    
    .toggle .triangle {
        fill: black;
    }

    .toggle {
        background-color: #d0d5d5;
    }
}

@media (prefers-color-scheme: dark) {
    .mainContent, .topBar, img, iframe, table {
        color: #e4eff2;
        background-color: #282b2c;
    }

    thead {
        color: #282b2c;
    }
    
    .toggle .triangle {
        fill: white;
    }

    .toggle {
        background-color: #353939;
    }
}